<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Création de commande</title>
  </head>
  <body>
    <h1>Création de commande</h1>
    <form action="/order" method="post">
      <label for="email">Adresse email :</label><br>
      <input type="email" id="email" name="email" required><br>
      <label for="country">Pays :</label><br>
      <input type="text" id="country" name="country" required><br>
      <label for="address">Adresse :</label><br>
      <input type="text" id="address" name="address" required><br>
      <label for="postal_code">Code postal :</label><br>
      <input type="text" id="postal_code" name="postal_code" required><br>
      <label for="city">Ville :</label><br>
      <input type="text" id="city" name="city" required><br>
      <label for="province">Province :</label><br>
      <input type="text" id="province" name="province" required><br>
      <br>
      <input type="submit" value="Valider la commande">
    </form>
  </body>
</html>
