<form action="/order" method="post">
  <input type="submit" value="Valider vos produits">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Weight</th>
        <th>Price</th>
        <th>In Stock</th>
        <th>Quantity</th>
        <th>Selected</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.image }}</td>
          <td>{{ product.weight }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.in_stock }}</td>
          <td><input type="number" name="product_quantity_{{ product.id }}" min="0" value="0"></td>
          <td><input type="checkbox" name="selected_product_{{ product.id }}" value="{{ product.id }}"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

